    .text-box h3 {
        color: pink;
    }

    #greycol {
        color: grey;
    }

    .text-box div p {
        color: red;
    }
    
    /*В мене не получається,
     воно ігнорує другий шар змін,
     чи то я щось не так розумію*/
    div~h3{
        
        color: black;
    }
    .text-box p{
        color: green;
    }
       .text-box p.yellow {
        color: yellow;
    }